@import '~@mdi/font/css/materialdesignicons.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import "./element-ui/index.scss";
@import "./tooltip.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.code {
    font-family: 'Source Code Pro', monospace;
}

.CodeMirror.CodeMirror-empty {
    color: #c0c4cc;
}

.tree-title {
    display: inline-flex;
    width: 100%;

    .spacer {
        flex-grow: 1;
    }
}

.muted {
    color: rgb(160, 160, 160);
}

.el-select.none input {
    font-style: italic;
    color: rgb(160, 160, 160)
}

.el-button {
    border: unset;
}

.el-button-group.block {
    width: 100%;
    display: flex;
    .el-button {
        flex-grow: 1;
    }
}

.remove-btn:hover {
    color: red;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
}

.morphing-collapse .el-collapse-item__content {
    transition: height 150ms linear;
    position: relative;
}

.split {
    overflow: unset !important;
}

.gutter {
    background-image: unset !important;
    background-color: unset !important;
}

.elevated {
    box-shadow: inset #00000021 0px 1px 20px 5px, 0px 0px 10px 0px #000;
    border-radius: 5px;
}

// Pulse animation
$--pulse-color: rgba(28, 135, 229, .5);
$--pulse-res: 3;
@for $i from 1 through $--pulse-res {
    [data-pulse="#{$i}"] {
        animation: pulse-animation-#{$i} 500ms linear running, pulse-animation-#{($i - 1) % $--pulse-res} 500ms linear paused
    }

    @keyframes pulse-animation-#{$i} {
        20%  { background-color: $--pulse-color; }
    }
}
