@mixin dark-container {
    background-color: rgba(0,0,0,.6);
    animation: blur-animation 250ms ease-out 300ms forwards;
}

@keyframes blur-animation {
    100%  { backdrop-filter: blur(10px) saturate(150%); }
}

@mixin elevated {
    box-shadow: inset #00000021 0px 1px 20px 5px, 0px 0px 10px 0px #000;
    border-radius: 5px;
}
